fund=false
lockfile-version=3
save-exact=true
workspace=packages/a,packages/b
engine-strict=true

include-workspace-root=true

## Fix timeout errors in CI
fetch-retries=15
fetch-retry-mintimeout=5900000
fetch-retry-maxtimeout=9900000
fetch-timeout=900000
maxsockets=2
